{% extends 'blog/base.html' %}
{% block title %}
<title>Blog - {{post.title}}</title>
{% endblock %}
{% block content %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{post.title}}</h1>
                    <span class="subheading">{{post.subtitle}}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            <p class="post-meta">
                Posted by
                <a href="#!">{{post.author}}</a>
                on {{post.published_date}}
            </p>

            <p>{{post.text|safe}}</p>

        </div>
    </div>
</div>

<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        <a href="{% url 'add_comment' pk=post.pk %}"> Adicionar Comentário </a>
        {% for comment in post.comments.all %}
            <h3>{{comment.author}}</h3>
            <p>{{ comment.created_date }}</p>
            <p>{{ comment.text }}</p>
            {% empty %}
                <p>Nenhum comentário</p>
        {% endfor %}
    </div>
  </div>

{% endblock %}